
@{
    ViewBag.Title = "Missings";
}

<div class="nav-path">
    Missings
    <div class="pull-right">
        <a href="@Url.Content("~/Employee/Missings/Register/")" class="btn btn-default btn-sm"><i class="fa fa-file-text"></i> Register missing</a>
    </div>
</div>

