@using PrimusFlex.Infrastructure

<div class="navigation">
    <a href="@Url.Content("~/admin/employees")" class="@Html.IsActive(controllers: "Employees") btn btn-default"><i class="fa fa-users"></i> Employees</a>
    <a href="@Url.Content("~/admin/sites")" class="@Html.IsActive(controllers: "Sites") btn btn-default"><i class="fa fa-university"></i> Sites</a>
    <a href="#" class="btn btn-default">Other</a>
</div>
