@using PrimusFlex.Infrastructure

<div class="navigation">
    <a href="@Url.Content("~/Employee/Reports")" class="@Html.IsActive(controllers: "reports") btn btn-default"><i class="fa fa-list-ol"></i> Reports</a>
    <a href="@Url.Content("~/Employee/Missings")" class="@Html.IsActive(controllers: "missings") btn btn-default"><i class="fa fa-minus-square"></i> Missings</a>
    <a href="#" class="btn btn-default">Other</a>
</div>
